{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <h1>{{ item.title }}</h1>

    {{ item.body }}

    <div id="comments">
        <comment-system news="{{ item.slug }}"></comment-system>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('js/comments') }}
{% endblock %}