{% extends 'base.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}

{% block body %}
    <h1>{{ item.title }}</h1>

    {{ item.body }}

    <div id="comments">
        <comments-component news="{{ item.slug }}"></comments-component>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('comments') }}
{% endblock %}